In [1]:
import pandas as pd
import numpy as np

In [12]:
visitors = pd.read_csv('../data/gen_dataset.csv')
visitors.drop(columns=['Unnamed: 0'], inplace=True)
visitors.head()

   N_Barri  Days  Month  Type_of_Accomodation
0       14     5     10                     4
1       39     4      6                     1
2        7     1      6                     1
3        0     3     11                     4
4       14     2      6                     2

In [13]:
neighbourhoods = pd.read_csv('../data/neighbourhoods.csv')
neighbourhoods.head()

,N_Barri,Area,Number of Air BnB Listings,Tourism,Numbers of Apartments,RANK
0,el Barri Gòtic,"841,905.08",1218,925,10479,20.5%
1,la Dreta de l'Eixample,"2,123,404.58",1918,947,27051,10.6%
2,el Raval,"1,098,392.91",1398,916,23285,9.9%
3,"Sant Pere, Santa Caterina i la Ribera","1,114,298.81",1041,302,14643,9.2%
4,la Barceloneta,"1,313,867.98",406,228,9233,6.9%

In [28]:
ranks = []
for _, row in neighbourhoods.iterrows():
    ranks.append(float(row['RANK'].replace('%','')))

neighbourhoods['rank'] = ranks

In [29]:
neighbourhoods.head()

,N_Barri,Area,Number of Air BnB Listings,Tourism,Numbers of Apartments,RANK,rank
0,el Barri Gòtic,"841,905.08",1218,925,10479,20.5%,20.5
1,la Dreta de l'Eixample,"2,123,404.58",1918,947,27051,10.6%,10.6
2,el Raval,"1,098,392.91",1398,916,23285,9.9%,9.9
3,"Sant Pere, Santa Caterina i la Ribera","1,114,298.81",1041,302,14643,9.2%,9.2
4,la Barceloneta,"1,313,867.98",406,228,9233,6.9%,6.9

In [40]:
monthly_visitors = pd.read_csv('../data/monthly_visitors_percentage.csv')
monthly_visitors.head()

      Month  Percentage
0   January    0.061647
1  February    0.067146
2     March    0.083657
3     April    0.096346
4       May    0.097943

In [53]:
visitors['neighbourhood_rank'] = neighbourhoods.iloc[visitors['N_Barri']]['rank'].tolist()
visitors['accomodation_rank'] = visitors['Type_of_Accomodation']
visitors['month_rank'] = monthly_visitors.iloc[visitors['Month']]['Percentage'].tolist()
visitors['1_over_days'] = 1 / visitors['Days']

visitors.drop(columns=['N_Barri','Days','Month','Type_of_Accomodation'], inplace=True)

In [55]:
visitors

     neighbourhood_rank  accomodation_rank  month_rank  1_over_days
0                   4.1                  4    0.068251     0.200000
1                   1.3                  1    0.101374     0.250000
2                   5.3                  1    0.101374     1.000000
3                  20.5                  4    0.059613     0.333333
4                   4.1                  2    0.101374     0.500000
5                   2.9                  1    0.097943     0.333333
6                   3.4                  2    0.096346     0.040000
7                  10.6                  1    0.059613     0.500000
8                  10.6                  4    0.067146     1.000000
9                   0.7                  2    0.061647     0.333333
10                  6.9                  2    0.101374     0.333333
11                  4.1                  2    0.101374     1.000000
12                 10.6                  4    0.097943     0.500000
13                  2.2                  1    0.059613     0.250000
14                 20.5                  1    0.101374     0.041667
15                  0.9                  2    0.068251     0.111111
16                  1.3                  2    0.082776     0.333333
17                  6.8                  4    0.101374     0.250000
18                 10.6                  1    0.061647     0.047619
19                 10.6                  4    0.101374     0.500000
20                  4.1                  4    0.059613     0.034483
21                  2.0                  2    0.061647     0.250000
22                  4.3                  4    0.082776     0.250000
23                  0.7                  2    0.101374     0.333333
24                 20.5                  1    0.061647     0.200000
25                  4.1                  1    0.082776     0.500000
26                  2.4                  4    0.097943     0.250000
27                  1.3                  2    0.082776     0.250000
28                  6.8                  2    0.061647     0.200000
29                  5.1                  1    0.097943     0.083333
..                  ...                ...         ...          ...
970                 1.4                  1    0.101374     0.250000
971                 3.0                  4    0.097943     0.250000
972                 2.9                  1    0.101374     0.250000
973                 4.4                  4    0.101374     0.500000
974                 0.5                  1    0.096346     1.000000
975                 6.9                  1    0.067146     0.076923
976                 3.1                  1    0.096346     0.333333
977                 2.9                  2    0.096428     0.090909
978                 5.1                  4    0.059613     0.333333
979                 0.5                  2    0.067146     0.200000
980                20.5                  4    0.082776     0.045455
981                10.6                  1    0.068251     0.037037
982                 2.4                  1    0.101374     0.200000
983                 4.3                  2    0.097943     0.043478
984                 1.4                  1    0.095854     0.333333
985                 4.1                  2    0.097943     1.000000
986                 4.3                  4    0.083657     0.333333
987                 4.4                  1    0.096428     0.333333
988                 0.8                  1    0.101374     0.250000
989                 6.9                  1    0.101374     1.000000
990                 9.9                  1    0.096346     0.250000
991                 2.9                  4    0.067146     0.333333
992                 2.9                  2    0.068251     0.500000
993                 3.0                  1    0.095854     0.333333
994                 6.8                  2    0.067146     0.333333
995                 4.4                  2    0.083657     0.200000
996                 2.9                  2    0.101374     0.200000
997                10.6                  4    0.101374     0.500000
998                20.5                  4    0.067146     0.333333
999                10.6                  1    0.101374     0.250000

[1000 rows x 4 columns]

In [57]:
visitors.to_csv('../data/gen_test_set.csv')